@font-face {  
  font-family: "LakesightFont";  
  src: url('Lakesight_PersonalUseOnly.ttf');
}  

body {
	background-color: #080808;
    background-image: url("bg_img.jpg");
	font-family: Helvetica;
	color: #fff;
	margin: 0;
	padding: 0;
	text-align: center;
    font-family: 'Raleway', sans-serif;  
}
canvas {
	margin: 0;
	padding: 0;
    cursor:pointer;
}
h1 {
	font-size: 38px;
    font-family: LakesightFont;
}
a {
    color: #fff;
}
.controls {
    position: absolute;
	top: 15px;
	right: 15px;
	width: 200px;
	background-color: #242424;
	-moz-border-radius: 8px; 
	-webkit-border-radius: 8px; 
	border: 1px solid #999;
	font-size: 18px;
    text-align:left;
}
aside h2 {
	display: block;
	font-size: 20px;
	font-weight: normal;
	padding: 2px 0;
	margin: 0;
}
aside ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
aside ul li {
	padding: 3px;
	cursor: pointer;
	/*text-align: left;*/
}
aside ul li.selected {
	background-color: #ff9a3a;
}
aside ul li img {
	width: 40px;
	height: 40px;
	vertical-align: middle;
	border: 1px solid #999;
}
aside ul li.selected img {
	border: 1px solid #fff;
}
aside ul li h3 {
	display: inline-block;
}
aside ul li .visible {
	float: right;
	margin: 14px 4px 0 0;
	width: 12px;
	height: 12px;
	border: 1px solid #fff;
	-moz-border-radius: 2px; 
	-webkit-border-radius: 2px;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	text-shadow: 1px 1px 1px #333;
}
aside .options {
	border-top: 1px solid #999;
	padding: 4px 0;
}
aside .options span {
	display: inline-block;
	width: 60px;
	text-align: right;
	margin-right: 10px;
}
aside .options select {
	width: 100px;
}
aside .buttons .remove {
	background: transparent url(remove.png) no-repeat top left;
}
aside .buttons .top {
	background: transparent url(top_button.png) no-repeat top left;
}
aside .buttons .up {
	background: transparent url(up_button.png) no-repeat top left;
}
aside .buttons .down {
	background: transparent url(down_button.png) no-repeat top left;
}
aside .buttons .bot {
	background: transparent url(bot_button.png) no-repeat top left;
}
aside .buttons {
	display: block;
	position: relative;
	border-top: 1px solid #999;
	padding: 4px 12px 2px 0px;
	text-align: right;
}
aside .buttons ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
aside .buttons ul li {
	display: inline-block;
	margin: 0 2px;
	padding: 0;
	cursor: pointer;
	width: 16px;
	height: 16px;
}
.backgrounds {
    position: absolute;
	top: 15px;
	left: 15px;
	width: 200px;
    height: 500px;
	background-color: #242424;
	-moz-border-radius: 8px; 
	-webkit-border-radius: 8px; 
	border: 1px solid #999;
	font-size: 18px;
    text-align:left;
    overflow-y: scroll;
}
.bg-imgs img {
    height: 50px;
    width: 50px;
    cursor: pointer;
}
::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(255,0,0,0.8); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(255,0,0,0.4); 
}
.filter-controls, .draw-controls, .bg-imgs {
    display: inline-block;
    padding-left: 10px;
}
.draw-controls {
    border-top: 1px solid #999;
}
form:not(#searchForm) {
    display: inline;
    margin: 0; 
    padding: 0;
}
footer.search {
	display: block;
	position: absolute;
	bottom: 0;
	width: 100%;
	margin: 0;
	padding: 0;
	text-align: center;
}
.search form {
	width: 235px;
	-moz-border-radius-topright: 4px; 
	-webkit-border-top-right-radius: 4px; 
	border-top: 1px solid #999;
	border-right: 1px solid #999;
	background-color: #ff9a3a;
	padding: 4px;
}
.search ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: #242424;
	border-top: 1px solid #999;
}
.search ul li {
	display: inline-block;
	margin: 8px 0px 0px 8px;
}
footer ul li img {
	width: 100px;
	height: 100px;
	cursor: pointer;
}
#fileupload {
    position: relative;
    overflow: hidden;
}

#fileupload input {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.001
}
.greenBtn {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #44c767), color-stop(1, #5cbf2a));
	background:-moz-linear-gradient(top, #44c767 5%, #5cbf2a 100%);
	background:-webkit-linear-gradient(top, #44c767 5%, #5cbf2a 100%);
	background:-o-linear-gradient(top, #44c767 5%, #5cbf2a 100%);
	background:-ms-linear-gradient(top, #44c767 5%, #5cbf2a 100%);
	background:linear-gradient(to bottom, #44c767 5%, #5cbf2a 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#44c767', endColorstr='#5cbf2a',GradientType=0);
	background-color:#44c767;
	-moz-border-radius:21px;
	-webkit-border-radius:21px;
	border-radius:21px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:18px;
	padding:11px 17px;
	text-decoration:none;
	text-shadow:0px 0px 0px #2f6627;
    margin-bottom: 5px;
}
.greenBtn:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #5cbf2a), color-stop(1, #44c767));
	background:-moz-linear-gradient(top, #5cbf2a 5%, #44c767 100%);
	background:-webkit-linear-gradient(top, #5cbf2a 5%, #44c767 100%);
	background:-o-linear-gradient(top, #5cbf2a 5%, #44c767 100%);
	background:-ms-linear-gradient(top, #5cbf2a 5%, #44c767 100%);
	background:linear-gradient(to bottom, #5cbf2a 5%, #44c767 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5cbf2a', endColorstr='#44c767',GradientType=0);
	background-color:#5cbf2a;
}
.greenBtn:active {
	position:relative;
	top:1px;
}
#loading-img {
  display: none;
  position: absolute;
  right: 10px;
  bottom: 10px;
}
#loading-img img {
  height: 64px;
  width: 64px;
}

