@{
    ViewBag.Title = "Home Page";
}

@*<div class="jumbotron">
    <h1>Task #6</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>*@

<div class="row">
    <div class="col-md-6">
        <h2><span class="glyphicon glyphicon-user"></span> Registrations List</h2>
        <p>
            Inspect a list of all registered users. Lock, unlock and even delete! Beware of deleting yourself.
        </p>
        <p><a class="btn btn-primary btn-lg" href="@Url.Action("Index", "Users")">Browse the list</a></p>
    </div>
    <div class="col-md-6">
        <h2><span class="glyphicon glyphicon-picture"></span> Photo Collages</h2>
        <p>Free photo editor that works in your browser — nothing to download or install. Fix your photos and add beautiful filters and text. Touch up facial features and create outstanding graphics. Ridiculously easy, staggeringly gorgeous.</p>
        <p><a class="btn btn-primary btn-lg" href="@Url.Action("Index", "Fabrics")">Go to my collages</a></p>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <h2><span class="glyphicon glyphicon-refresh"></span> And More</h2>
        <p>
            More amazing stuff coming soon. Stay tuned!
        </p>
        <p><a class="btn btn-info btn-lg disabled" href="#">Coming soon</a></p>
    </div>
</div>